<div class="screen flex flex-col h-screen px-0">
	<div class="overflow-x-auto flex-grow flex w-full">
		<ngu-carousel
			class="w-full text-white"
			#carousel
			[inputs]="carouselConfig"
			[dataSource]="[first, second, third]"
		>
			<div class="px-8 min-w-full" *nguCarouselDef="let item">
				<ng-container *ngTemplateOutlet="item"></ng-container>
			</div>
		</ngu-carousel>
	</div>
	<button class="button mt-4 mx-8" (click)="next()">Weiter</button>
</div>

<ng-template #first>
	<div class="min-w-full h-full bg-blue">Test</div>
</ng-template>

<ng-template #second>
	<div class="min-w-full h-full bg-red-800">Test</div>
</ng-template>

<ng-template #third>
	<div class="min-w-full h-full bg-orange-500">Test</div>
</ng-template>
