<div class="flex flex-col justify-center screen h-screen">
	<h1 class="mb-16">
		Hilfsbedürftige Menschen in der Coronakrise unterstützen...
	</h1>

	<span class="mb-2">
		Du willst hilfsbedürftige Menschen unterstützen? Ganz einfach von zuhause aus? Dann mach mit bei
		NAME und nimm Anrufe von Hilfsbedürftigen entgegen!
	</span>
	<a routerLink="/introduction" class="mb-16 link" href="#">So funktioniert's</a>
	<button routerLink="/register" class="button w-100">
		Jetzt mitmachen!
	</button>
</div>
