<div class="screen">
	<h1>Erneute Verifikation</h1>
	<p class="mb-1">
		Da du schon länger nicht mehr bei NAME angemeldet warst, wollen wir deine Telefonnummer noch
		einmal verifizieren. Bitte kontrolliere unten deine Telefonnummer und tippe auf "Jetzt
		verifizieren".
	</p>
	<p class="mb-10">
		Wir geben deine Telefonnummer unter keinen Umständen an Dritte weiter. Außerdem ist NAME für
		dich natürlich absolut kostenfrei.
	</p>
	<div>
		<input class="control w-full mb-8" placeholder="Telefonnummer" type="tel" />
		<button routerLink="/verify-progress" class="button w-full">Jetzt verifizieren</button>
	</div>
</div>
