<div class="screen flex flex-col h-screen">
	<h1>Warte auf die SMS</h1>
	<em class="my-10 block w-full text-center">Loading spinner</em>
	<span>
		Wir haben dir eine SMS zur Verifikation deiner Telefonnummer gesendet. Das kann ein paar
		Sekunden dauern... Sobald die SMS auf deinem Smartphone ankommt, geht's automatisch weiter!
	</span>
	<div class="flex-grow"></div>
	<strong>Keine SMS bekommen?</strong>
	<span>
		<a class="link cursor-pointer" (click)="back()">Gehe zurück</a>
		<span>
			, überprüfe deine Telefonnummer und versuche es noch einmal.
		</span>
	</span>
</div>
