<div class="flex h-full flex-col items-center justify-between pb-8">
	<app-bar></app-bar>
	<div class="flex flex-col items-center w-100">
		<h3 class="mb-12">Warte auf SMS...</h3>
		<app-verification-loader
			[status]="VerificationStatus.SUCCESS"
			class="w-40"
		></app-verification-loader>
	</div>
	<div class="px-8">
		<strong class="w-full block">Keine SMS bekommen?</strong>
		<span>
			<a class="underline text-primary-light cursor-pointer" (click)="back()">Gehe zurück</a>
			<span>, überprüfe deine Telefonnummer und versuche es nochmal.</span>
		</span>
	</div>
</div>
