<div class="flex h-full flex-col items-center pb-8">
	<app-bar></app-bar>
	<div class="flex flex-grow flex-col items-center w-full px-8">
		<h3 [ngSwitch]="status" class="mb-12">
			<span *ngSwitchCase="VerificationStatus.LOADING">Warte auf SMS-Code...</span>
			<span *ngSwitchCase="VerificationStatus.SUCCESS">Alles klar, es kann losgehn!</span>
			<span *ngSwitchCase="VerificationStatus.ERROR">Falscher Code...</span>
		</h3>
		<app-verification-loader [status]="status" class="w-40"></app-verification-loader>
		<div novalidate class="flex justify-between w-full">
			<input
				*ngFor="let _ of form.controls; let i = index"
				[formControl]="form.controls[i]"
				class="control w-11 px-0 mt-12 text-center text-lg font-bold"
				[class.border-error]="status === VerificationStatus.ERROR"
				[class.invisible]="status === VerificationStatus.SUCCESS"
				type="text"
				inputmode="numeric"
				#currentInput
				(input)="focusNext(currentInput)"
				(focus)="inputFocused(i)"
			/>
		</div>
		<ng-container [ngSwitch]="status">
			<span
				*ngSwitchCase="VerificationStatus.LOADING"
				class="control-error show text-primary text-center"
			>
				Trage hier den Code ein, der dir per SMS geschickt wird.
			</span>
			<span
				*ngSwitchCase="VerificationStatus.ERROR"
				class="control-error show text-center text-error"
			>
				Der Code war leider nicht korrekt. Versuche es noch einmal.
			</span>
			<div class="flex-grow"></div>
			<button
				routerLink="/onboarding"
				*ngSwitchCase="VerificationStatus.SUCCESS"
				class="button w-full"
			>
				Einführung starten
			</button>
		</ng-container>
	</div>
	<div class="px-8 mt-8" [ngSwitch]="status">
		<a
			routerLink="/"
			class="underline text-primary font-serif text-md cursor-pointer"
			*ngSwitchCase="VerificationStatus.SUCCESS"
		>
			Einführung überspringen
		</a>
		<ng-container *ngSwitchDefault>
			<strong class="w-full block">Keine SMS bekommen?</strong>
			<span>
				<a class="underline text-primary-light cursor-pointer" (click)="back()">Gehe zurück</a>
				<span>, überprüfe deine Telefonnummer und versuche es nochmal.</span>
			</span>
		</ng-container>
	</div>
</div>
