<div class="w-full flex justify-between items-center">
	<app-arrow
		[class.opacity-100]="!carousel.firstSlideActive"
		[class.pointer-events-none]="carousel.firstSlideActive"
		class="text-primary inline-block cursor-pointer
    		   opacity-0 transition-opacity duration-100"
		(click)="carousel.previous()"
	></app-arrow>
	<div class="flex">
		<div
			*ngFor="let i of carousel.slideNumbers"
			class="h-4 w-4 mx-2 rounded-full bg-mediumgray transition-all duration-100"
			[class.bg-secondary]="carousel.currentSlide === i"
		></div>
	</div>
	<app-arrow
		[class.opacity-100]="!carousel.lastSlideActive"
		[class.pointer-events-none]="carousel.lastSlideActive"
		class="transform rotate-180 text-primary inline-block cursor-pointer
        opacity-0 transition-opacity duration-100"
		(click)="carousel.next()"
	></app-arrow>
</div>
