<div class="p-8 h-screen flex flex-col">
	<h1>Mitmachen</h1>
	<p class="mb-1">
		Helfen ist ganz einfach: Gib unten deinen Vornamen und deine Telefonnummer ein und du erhältst
		automatisch eine SMS zur Verifikation deiner Nummer. Dann kanns auch schon losgehen! Wir
		erklären dir im Anschluss noch mal ganz genau, wie das NAME funktioniert.
	</p>
	<p class="mb-10">
		Wir geben deine Telefonnummer unter keinen Umständen an Dritte weiter. Außerdem ist NAME für
		dich natürlich absolut kostenfrei.
	</p>
	<div>
		<input class="control w-full mb-3" placeholder="Vorname" type="text" />
		<input class="control w-full mb-8" placeholder="Telefonnummer" type="tel" />
		<button routerLink="/onboarding" class="button w-full">Registrieren</button>
	</div>
</div>
