<div class="h-full flex flex-col">
	<app-bar></app-bar>
	<div class="flex-grow h-full flex flex-col px-8 pb-8">
		<h3 class="mb-6">Mitmachen und Held werden</h3>
		<div class="mb-12">
			<p>
				Helfen ist ganz einfach: Gib unten deinen Vornamen und deine Telefonnummer ein und du
				erhältst automatisch eine SMS zur Verifikation deiner Nummer. Dann kanns auch schon
				losgehen! Wir erklären dir im Anschluss noch mal ganz genau, wie
				<strong>Corona Helping Agent</strong> funktioniert.
			</p>
			<p>
				Wir geben deine Telefonnummer unter keinen Umständen an Dritte weiter. Außerdem ist
				<strong>Corona Helping Agent</strong> für dich natürlich absolut kostenfrei.
			</p>
		</div>
		<div class="flex-grow flex flex-col">
			<input class="control w-full" placeholder="Vorname" type="text" />
			<span class="control-error">Test</span>
			<input class="control w-full mt-8" placeholder="Telefonnummer" type="tel" />
			<div class="flex-grow"></div>
			<button routerLink="/onboarding" class="button w-full mt-8">Registrieren</button>
		</div>
	</div>
</div>
