<div
	class="flex flex-col h-full p-8"
	*ngIf="(onlineStatus$ | async) || OnlineStatus.OfflineLoading as onlineStatus"
>
	<app-bar [showLogo]="true" [showGuide]="true" class="-mx-8 -mt-8"></app-bar>
	<h3 class="text-center">Hallo {{ (profile$ | async)?.name }}</h3>
	<div
		class="shadow-inner p-4 w-100 mt-10 mb-5  
		flex flex-col align-middle border-0 rounded-md text-center"
		[ngClass]="statusBoxClasses$ | async"
	>
		<h3>{{ (statusCard$ | async)?.title }}</h3>
		<span class="text-13">
			{{ (statusCard$ | async)?.text }}
		</span>
	</div>
	<div
		class="flex flex-col items-center mb-5"
		[class.delay-n-inverted]="onlineStatus === OnlineStatus.OnlineLoading"
		[class.delay-n]="onlineStatus === OnlineStatus.OfflineLoading"
	>
		<div
			class="rounded-full w-2 h-2 my-3"
			[ngClass]="pointClasses$ | async"
			*ngFor="let _ of [].constructor(4)"
		></div>
	</div>
	<app-online-slider
		(click)="toggleOnline()"
		[online]="clientOnline$ | async"
		class="px-14 block mb-5"
	></app-online-slider>
	<span class="control-error text-primary text-center text-sm" [class.show]="clientOnline$ | async">
		Tippe auf den Schalter, um offline zu gehen
	</span>
	<span
		class="control-error text-primary text-center text-sm"
		[class.show]="!(clientOnline$ | async)"
	>
		Tippe auf den Schalter, um online zu gehen
	</span>
	<div class="flex-grow"></div>
	<a
		class="button block text-center"
		href="http://78.47.139.55/"
		target="_blank"
		rel="noopener noreferrer"
	>
		Jetzt Hilfegesuch eintragen
	</a>
</div>
